<navbar icon="icon-gf icon-gf-bulk_action" title="Hosts" title-url="hosts">
</navbar>

<div class="page-container" ng-controller="HostsCtrl">
        <div class="page-header">
            <h1>Hosts</h1>
        </div>
        <h3 class="page-heading">Metrics</h3>
        <span>Examples:</span>
        <ul style="padding-left: 20px">
          <li>Wildcard *: ms77*</li>
          <li>Character Range [a-z0-9]: slack-shard139[a-z]</li>
          <li>Value List {g1,g2}: ms{875,888}</li>
        </ul>
        <form name="hostsForm" class="gf-form-group">
            <div class="gf-form-inline">
                <div class="gf-form gf-size-max-xxxl">
                    <span class="gf-form-label gf-size-s">Host(s) Regex</span>
                    <input class="gf-form-input" type="text" required ng-model='regex'>
                </div>
                <div class="gf-form">
                    <button type="submit" class="btn gf-form-btn btn-success" ng-click="update()">Generate Dashboard</button>
                </div>
            </div>
        </form>
        <h3 class="page-heading">Explore</h3>
        <span>Coming soon!</span>
</div>
